{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the 9th Street App for Winners<h2>
        <h3>Please present credentials to continue</h3>
        {% if error %}    
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('login') }}" method=post>
            <dl>
              <div class="login">
                <span>Username:</span>
                <dt><input type=text name=username></dt>
                <span>Password:</span>
                <dt><input type=password name=password></dt>
                <input type=submit value=Login>
              </div>
            </dl>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        </form>
  </div>
{% endblock %}
